
extends ./layouts/0502

block header
    link(rel='stylesheet', href='#{myPath}/stylesheets/pmcss.css')
    link(rel='stylesheet', href='#{myPath}/stylesheets/pmnormalize3.0.2.min.css')

block contents   
    .row 
        .col-xs-10.col-sm-10
            .panel
                span#ranking_title #{grPm.RYXM}的排行：#{grPm.PM}, 段位：#{grPm.DW},属于#{dwxx.DWMC}.
            .panel.panel_default#ranking(style="overflow:auto")
                .panel-body
                    
                table.table
                    tr.box
                        th.col_1 会计期间
                            th.col_2 大区
                            th.col_2 省区
                            th.col_2 地区
                            th.col_2 姓名
                            th.col_2 累计达成率(%)
                            th.col_2 累计排名
                            th.col_2 累计羚锐币
                            th.col_2 本月达成率(%)
                            th.col_2 本月排名
                            th.col_2 段位
                            th.col_2 段位排名
                            th.col_2 本月羚锐币
                    unless sameDwPm.length
                        each item,i in sameDwPm
                            if item.RYXM == grPm.RYXM
                                tr.cur
                                    th.col_1 #{item.RQ}
                                    th.col_2 #{item.DQMC}
                                    th.col_2 #{item.FZDQ}
                                    th.col_2 #{item.SQMC}
                                    th.col_2 #{item.RYXM}
                                    th.col_2 #{item.LJDCL}
                                    th.col_2 #{item.LJPM}
                                    th.col_2 #{item.LJLRB}
                                    th.col_2 #{item.DCL}
                                    th.col_2 #{item.PM}
                                    th.col_2 #{item.DW}
                                    th.col_2 #{item.DWPM}
                                    th.col_2 #{item.LRB}
                            else
                                tr.box
                                    th.col_1 #{item.RQ}
                                    th.col_2 #{item.DQMC}
                                    th.col_2 #{item.FZDQ}
                                    th.col_2 #{item.SQMC}
                                    th.col_2 #{item.RYXM}
                                    th.col_2 #{item.LJDCL}
                                    th.col_2 #{item.LJPM}
                                    th.col_2 #{item.LJLRB}
                                    th.col_2 #{item.DCL}
                                    th.col_2 #{item.PM}
                                    th.col_2 #{item.DW}
                                    th.col_2 #{item.DWPM}
                                    th.col_2 #{item.LRB}

            .panel.panel_default#ranking
                .panel-body
                    span#ranking_title 历史战绩
                #container

block scripts
    script(language="javascript", src="#{myPath}/javascripts/03/highcharts.js#{randomJsVersion}")
    script(language="javascript", src="#{myPath}/javascripts/03/05020201.js#{randomJsVersion}")
    script
        var chart = Highcharts.chart('container', {
            chart: {
                type: 'line'
            },
            title: {
                text: '历史数据'
            },
            subtitle: {
                text: '数据来源: 张政同志的计算'
            },
            xAxis: {
                categories: #{rqStr}
            },
            yAxis: {
                title: {
                    text: '羚锐币越多越好，段位越小越好'
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true          // 开启数据标签
                    },
                    enableMouseTracking: false // 关闭鼠标跟踪，对应的提示框、点击事件会失效
                }
            },
            series: [{
                name: '羚锐币',
                data: #{lrbStr}
            }, {
                name: '段位',
                data: #{dwStr}
            }]
        });
        
block pageId
    p(style="display:none") 05020201
    