doctype html
html
  head
    title= pageName
    script(src="#{publicPath}/js/jquery-3.2.1.min.js")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='#{publicPath}/css/out/bootstrap.min.css')
  body
    .container
      .row
        .col-xs-12.col-md-12
          h1
            p 功能目录
          h3
            a(href='#{publicPath}/expressage/newEx') 发布新快递
          h3
            a(href='#{publicPath}/expressage/receiveAll') 快递查询
          h3
            a(href='#{publicPath}/expressage/admin/newExpressage') 添加快递单位