extends ../../templates/expressage/layout

block link
  script(src="#{publicPath}/js/newExCheck.js")
  
block body
  input(type='hidden', value="#{page.include}")#hidden_include
  if page.include == 0
    include include/errorMessage
  else if page.include == 2
    include include/choseUser
  else if page.include == 3
    include include/successMessage
  else
    .container
      .row
        .col-xs-12
          .form-wrap
            form(role='form', action='#{publicPath}/expressage/newExCheck', method='POST')
              .weui_cells.weui_cells_form
                .weui_cell
                  .col-xs-5
                    .weui_label 快递单位:
                  .col-xs-7
                    input(type="text" ,readonly, name='tracking_company_name', value='#{page.tracking_company_name}').weui_input
                    input(type="hidden" , name='tracking_company_id', value='#{page.tracking_company_id}').weui_input
                .weui_cell
                  .col-xs-5
                    .weui_label 快递单号:
                  .col-xs-7
                    input(type="text" ,readonly , name='tracking_number', value='#{page.tracking_number}').weui_input
                .weui_cell
                  .col-xs-5
                    .weui_label 
                      span 收&nbsp&nbsp件&nbsp&nbsp人
                    .weui_label 
                      span 信&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp息
                  .col-xs-7
                    input(type="text" , readonly, name='user_bm', value='#{page.userDepartName}').weui_input
                    input(type="text" , readonly, name='tracking_userName', value='#{page.tracking_userName}').weui_input
            p &nbsp
      include include/newExButton