
// 自动核销公共头部
extends ../../hxLayout

block header
    link(rel='stylesheet', href='#{myPath}/stylesheets/bootstrap-datetimepicker.min.css#{randomJsVersion}')
    
block layoutScripts
    script(language="javascript", src="#{myPath}/javascripts/04/0402.js#{randomJsVersion}")
    script(language="javascript", src="#{myPath}/javascripts/bootstrap-datetimepicker.min.js#{randomJsVersion}")
    script(language="javascript", src="#{myPath}/javascripts/typeahead.min.js#{randomJsVersion}")
    
block main
    .row
        .col-md-11.main-header
            h2 自动核销
            form(role='form')#zdhxByProvince
                .form-group
                    .row
                        .col-sm-5.col-md-5
                            .input-group
                                .input-group-addon
                                    span 选择省份
                                input.form-control(type="text",placeholder='请选择要核销省份', name='province',autocomplete="off")#province
                .form-group
                    .row
                        .col-sm-5.col-md-5
                            .input-group
                                .input-group-addon
                                    span 回款截至
                                input.form-control(type="text",placeholder='请选择截至时间,将核销该时间以前的回款单', name='returnEnd',autocomplete="off",readOnly)#timeEnd
                .form-group
                    .row
                        .col-sm-5.col-md-5
                            .input-group
                                .input-group-addon
                                    span 发货截至
                                input.form-control(type="text",placeholder='请选择截至时间,将核销该时间以前的发货单', name='shipmentsEnd',autocomplete="off",readOnly)#timeEnd2
                        .col-sm-4.col-md-4
                            button(type='button').btn.btn-primary#confirm 确定
                    
            hr
    .main-body
        block contents