
// 部门管理:修改大区
extends ./layouts/0302
    

block extraButtons        
    .form-group
        button(type="button").btn.btn-default#checkProvince 规划下辖省份
        |&nbsp&nbsp
    
block contents
    .row
        .col-xs-12.col-sm-12
            form#updateRegion
                input(type='hidden', name='regionUid', value='#{regionInfo.NBPT_SP_REGION_UID}')
                input(type='hidden', name='regionResponsibler', value='#{regionInfo.NBPT_SP_REGION_RESPONSIBLER}')#ResperPid
                .form-group
                    label.col-xs-1.col-sm-1.control-label 
                        font(color="red") *
                        |&nbsp&nbsp&nbsp&nbsp大区名称
                    .col-xs-4.col-sm-4
                        input.form-control(value='#{regionInfo.NBPT_SP_REGION_NAME}', name="regionName")
                .form-group
                    label.col-xs-1.col-sm-1.control-label 负责人
                    .col-xs-4.col-sm-4
                        input.form-control(value='#{personName}', readonly)#ResperName
                    .col-md-1.col-sm-1 
                        button.btn.btn-default(type="button").addResponsibler
                            span.glyphicon.glyphicon-plus(aria-hidden="true")
                        |&nbsp&nbsp&nbsp
                        button.btn.btn-default(type="button").deleteResponsibler
                            span.glyphicon.glyphicon-minus(aria-hidden="true")
                .form-group
                    label.col-xs-1.col-sm-1.control-label 人员配额
                    .col-xs-4.col-sm-4
                        input.form-control(value='#{regionInfo.NBPT_SP_REGION_NEED}', name='regionNeed')
                    if needSum
                        .col-xs-4.col-sm-4
                            p 当前计算的所有地区配额合计为
                                font(color='red')
                                    #{needSum}
                            
                .form-group
                    label.col-xs-1.col-sm-1.control-label 备注
                    .col-xs-4.col-sm-4
                        input.form-control(value='#{regionInfo.NBPT_SP_REGION_NOTE}', name="regionNote")
                .form-group
                    .col-xs-offset-1.col-sm-offset-1.col-xs-4.col-sm-4
                        button(type="button").btn.btn-primary#updateRegionConfirm 提交
block modal
    include includes/0302Modal
block scripts
    script(language="javascript", src="#{myPath}/javascripts/03/03020301.js")
    
block pageId
    p(style="display:none") 03020301