
// 部门管理:规划地区下辖市区县
extends ./layouts/0302


        
block contents
    .row.placeholders
        .col-xs-12.col-sm-12.placeholder
            .form-horizontal
                .form-group
                    label.col-xs-1.col-sm-1.control-label 地区名称
                    .col-xs-4.col-sm-4
                        input.form-control(value='#{currentAreaName}', readOnly)
                .form-group
                    label.col-xs-1.col-sm-1.control-label 所属省份
                    .col-xs-4.col-sm-4
                        input.form-control(value='#{currentProvince}', readOnly)
                        input(type="hidden", value='#{currentProvinceId}')#provinceId
                .form-group
                    label.col-xs-1.col-sm-1.control-label 划分列表
                    .col-xs-4.col-sm-4
                        .panel.panel-default
                            .panel-heading 
                                |下辖市区县列表(
                                |<button class="btn btn-link add">添加</button>
                                |)
                            table.table
                                tr
                                    th.col-xs-1.col-sm-1
                                    th.col-xs-4.col-sm-4 市
                                    th.col-xs-4.col-sm-4 区县
                                    th.col-xs-3.col-sm-3 操作
                                each item in citys
                                    tr
                                        th.col-xs-1.col-sm-1
                                        th.col-xs-4.col-sm-4= item.NBPT_COMMON_XZQXHF_NAME
                                        th.col-xs-4.col-sm-4
                                        th.col-xs-3.col-sm-3 
                                            |<button class="btn btn-link" name="add" value="#{item.NBPT_COMMON_XZQXHF_ID}">删除</button>
                                each item in contys
                                    tr
                                        th.col-xs-1.col-sm-1
                                        th.col-xs-4.col-sm-4= item.NBPT_COMMON_XZQXHF_PNAME
                                        th.col-xs-4.col-sm-4= item.NBPT_COMMON_XZQXHF_NAME
                                        th.col-xs-3.col-sm-3 
                                            |<button class="btn btn-link delete"  value="#{item.NBPT_COMMON_XZQXHF_ID}">删除</button>
block scripts
    script(language="javascript", src="#{myPath}/javascripts/03/03020501.js")
    
block modal
    include includes/030205Modal
    
block pageId
    p(style="display:none") 03020501