
// 地区管理
extends ./layouts/0303

block contents
    unless currents.regions.length
        .col-md-2.col-sm-2
            each region in currents.regions
                .radio
                    label 
                        input(type="radio",name="regions",data-toggle="collapse",id="region_#{region.REGION_ID}",data-target="#provinces_#{region.REGION_ID}",value="#{region.REGION_ID}")
                        |#{region.REGION_NAME}
        .col-md-3.col-sm-3
            each province in currents.provinces
                .col-md-12.col-sm-12.collapse.province-collapse(id="provinces_#{province.REGION_ID}")
                    each p in province.provinces
                        .radio
                            label 
                                input(type="radio",name="provinces",data-toggle="collapse",id="province_#{p.PROVINCE_ID}",data-target="#areas_#{p.PROVINCE_ID}",value="#{p.PROVINCE_ID}")
                                |#{p.PROVINCE_NAME}
        .col-md-3.col-sm-3
            each area in currents.areas
                .col-md-12.col-sm-12.collapse.area-collapse(id="areas_#{area.PROVINCE_ID}")
                    each a in area.areas
                        .radio
                            label 
                                input(type="radio",name="areas",id="area_#{a.AREA_ID}",value="#{a.AREA_ID}")
                                |#{a.AREA_NAME}
                    
block scripts
    script(language="javascript", src="#{myPath}/javascripts/03/0303.js")
    script(language="javascript", src="#{myPath}/javascripts/03/03030201.js")
block pageId
    p(style="display:none") 03030101
    