
// 未审核列表查询
extends ./layouts/0303

block contents
    form#checkOutForm
        input(type='hidden', name='UNCHECKPID')
        
    if message
        .row.placeholders
            .col-xs-12.col-sm-12.placeholder
                h3= message
    else
        .row.placeholders
            .col-xs-12.col-sm-12.placeholder
                .col-xs-4.col-sm-4
                    .panel.panel-default
                        .panel-heading 名单列表
                        table.table-striped
                            tr
                                th(style='text-align:center') #
                                th 名称
                                th 所属地区
                                th 所属地总
                                th 操作
                            unless uncheckList.length
                                each item,i in uncheckList
                                    tr
                                        th.col-xs-1.col-sm-1= i + 1
                                        td= item.UNCHECKNAME
                                        td= item.UNCHECKDEPTNAME
                                        td= item.UNCHECKAREABELONGTONAME
                                        td 
                                            button.btn.btn-link(value='#{item.UNCHECKPID}').checkOutPersonInfo 详细信息
                                    
                                    
            
                    
block scripts
    script(language="javascript", src="#{myPath}/javascripts/03/03030201.js")
    
block pageId
    p(style="display:none") 03030201
    