
// 人员管理:查看详细信息(后勤)
extends ./layouts/0304
block buttons
    .form-group
        button(type="button").btn.btn-default#supportAdd 添加大区总地总
        |&nbsp&nbsp
    .form-group
        button(type="button").btn.btn-default#receiveAllPersons 查看所有人员信息
        |&nbsp&nbsp
    .form-group
        a(href='#{myPath}/sellPersonnel/areaPersons?areaUid=#{areaUid}&regionUid=#{regionUid}').btn.btn-default 后退
        |&nbsp&nbsp
    .form-group
        button(type="button").btn.btn-danger#deleteTerminal 删除该人员
        a(href='#{myPath}/sellPersonnel/support/deleteTerminal?terminalPid=#{person.NBPT_SP_PERSON_PID}&areaUid=#{areaUid}&regionUid=#{regionUid}').hidden#deleteTerminalA
        |&nbsp&nbsp
block contents
    if message
        .col-xs-12.col-sm-12
            h3= message
    else
        .col-xs-12.col-sm-12
            form.form-horizontal.personInfo
                input(type="hidden", name="NBPT_SP_PERSON_AREANO")
                input(type="hidden", name="NBPT_SP_PERSON_PID", value='#{person.NBPT_SP_PERSON_PID}')#NBPT_SP_PERSON_PID
                input(type="hidden", name="NBPT_SP_PERSON_ID", value='#{person.NBPT_SP_PERSON_ID}')#NBPT_SP_PERSON_ID
                .form-group
                    label.col-xs-1.col-sm-1.control-label 
                        font(color="red") *
                        |&nbsp&nbsp&nbsp&nbsp姓名
                    .col-xs-4.col-sm-2
                        input.form-control( readOnly,value='#{person.NBPT_SP_PERSON_NAME}')
                .form-group
                    label.col-xs-1.col-sm-1.control-label 
                        font(color="red") *
                        |&nbsp&nbsp&nbsp&nbsp职务
                    .col-xs-4.col-sm-4
                        label.radio-inline
                            input(type="radio",name="NBPT_SP_PERSON_JOB",value="23") 
                            |区县总
                        label.radio-inline
                            input(type="radio",name="NBPT_SP_PERSON_JOB",value="24") 
                            |预备区县总
                        label.radio-inline
                            input(type="radio",name="NBPT_SP_PERSON_JOB",value="25") 
                            |推广经理
                .form-group
                    label.col-xs-1.col-sm-1.control-label
                        font(color="red") *
                        |&nbsp&nbsp身份证号码
                    .col-xs-4.col-sm-4
                        input.form-control( readOnly,value='#{person.NBPT_SP_PERSON_IDNUM}')
                    .col-xs-2.col-sm-2.errorMessage
                .form-group
                    label.col-xs-1.col-sm-1.control-label 
                        font(color="red") *
                        |&nbsp&nbsp&nbsp&nbsp籍贯
                    .col-xs-4.col-sm-4
                        input.form-control( readOnly,value='#{person.NBPT_SP_PERSON_PLACE}')
                .form-group
                    label.col-xs-1.col-sm-1.control-label 
                        font(color="red") *
                        |&nbsp&nbsp&nbsp&nbsp性别
                    .col-xs-4.col-sm-4
                        label.radio-inline
                            input(type="radio",name="NBPT_SP_PERSON_MALE",value="1") 
                            |男
                        label.radio-inline
                            input(type="radio",name="NBPT_SP_PERSON_MALE",value="0") 
                            |女
                
                each item,i in controllAreas                
                    .form-group
                        if i == 0
                            label.col-xs-1.col-sm-1.control-label 
                                font(color="red") *
                                |&nbsp&nbsp&nbsp&nbsp负责区县
                            .col-xs-4.col-sm-4
                                input.form-control( readOnly,value='#{item.NBPT_COMMON_XZQXHF_NAME}')
                        else
                            .col-xs-1.col-sm-1
                            .col-xs-4.col-sm-4
                                input.form-control( readOnly,value='#{item.NBPT_COMMON_XZQXHF_NAME}')
                .form-group
                    label.col-xs-1.col-sm-1.control-label 
                        font(color="red") *
                        |&nbsp&nbsp&nbsp&nbsp个人手机
                    .col-xs-4.col-sm-4
                        input.form-control( readOnly value='#{person.NBPT_SP_PERSON_MOB1}')
                .form-group
                    label.col-xs-1.col-sm-1.control-label 
                        font(color="red") *
                        |&nbsp&nbsp紧急联络人
                    .col-xs-4.col-sm-4
                        input.form-control( readOnly,value='#{person.NBPT_SP_PERSON_MOB2}')
                .form-group
                    label.col-xs-1.col-sm-1.control-label 
                        font(color="red") *
                        |&nbsp&nbsp&nbsp&nbsp入职时间
                    .col-xs-4.col-sm-4
                        input.form-control( readOnly,value='#{person.NBPT_SP_PERSON_ENTRYDATA}')
                
                .form-group
                    label.col-xs-1.col-sm-1.control-label 
                        font(color="red") *
                        |&nbsp&nbsp&nbsp&nbsp保单编号
                    .col-xs-2.col-sm-2
                        input.form-control( readOnly,value="#{person.NBPT_SP_PERSON_POLICYTYPE}")
                    .col-xs-2.col-sm-2
                        input.form-control( readOnly,value='#{person.NBPT_SP_PERSON_POLICYNO}')
                .form-group
                    label.col-xs-1.col-sm-1.control-label 
                        font(color="red") *
                        |&nbsp&nbsp&nbsp&nbsp保单起始
                    .col-xs-4.col-sm-4
                        input.form-control( readOnly, value='#{person.NBPT_SP_PERSON_POLICY_DATA1}')
                .form-group
                    label.col-xs-1.col-sm-1.control-label 
                        font(color="red") *
                        |&nbsp&nbsp&nbsp&nbsp保单结束
                    .col-xs-4.col-sm-4
                        input.form-control( readOnly, value='#{person.NBPT_SP_PERSON_POLICY_DATA2}')
                .form-group
                    label.col-xs-1.col-sm-1.control-label 
                        font(color="red") *
                        |&nbsp&nbsp&nbsp&nbspQQ
                    .col-xs-4.col-sm-4
                        input.form-control( readOnly, value='#{person.NBPT_SP_PERSON_QQ}')
                .form-group
                    label.col-xs-1.col-sm-1.control-label 
                        font(color="red") *
                        |&nbsp&nbsp&nbsp&nbsp微信
                    .col-xs-4.col-sm-4
                        input.form-control( readOnly, value='#{person.NBPT_SP_PERSON_CHAT}')
                .form-group
                    label.col-xs-1.col-sm-1.control-label 
                        font(color="red") *
                        |&nbsp&nbsp&nbsp&nbsp邮箱
                    .col-xs-4.col-sm-4
                        input.form-control( readOnly, value='#{person.NBPT_SP_PERSON_MAIL}')
                .form-group
                    label.col-xs-1.col-sm-1.control-label 
                        font(color="red") *
                        |&nbsp&nbsp&nbsp&nbsp学历
                    .col-xs-4.col-sm-4
                        input.form-control( readOnly value='#{person.NBPT_SP_PERSON_DEGREE}')
                .form-group
                    label.col-xs-1.col-sm-1.control-label 
                        font(color="red") *
                        |&nbsp&nbsp&nbsp&nbsp毕业学校
                    .col-xs-4.col-sm-4
                        input.form-control( readOnly, value='#{person.NBPT_SP_PERSON_SCHOOL}')
                .form-group
                    label.col-xs-1.col-sm-1.control-label 
                        font(color="red") *
                        |&nbsp&nbsp&nbsp&nbsp专业
                    .col-xs-4.col-sm-4
                        input.form-control( readOnly, value='#{person.NBPT_SP_PERSON_PROFESS}')
                .form-group
                    label.col-xs-1.col-sm-1.control-label 
                        font(color="red") *
                        |&nbsp&nbsp&nbsp&nbsp备注
                    .col-xs-4.col-sm-4
                        input.form-control( readOnly, value='#{person.NBPT_SP_PERSON_NOTE}')
                .form-group
                    label.col-xs-1.col-sm-1.control-label 
                        font(color="red") *
                        |&nbsp&nbsp&nbsp&nbsp职称
                    .col-xs-4.col-sm-4
                        input.form-control( readOnly, readOnly, value='#{person.NBPT_SP_PERSON_TITLE}')
                .form-group
                    .col-xs-offset-1.col-sm-offset-1.col-xs-4.col-sm-4
                        button(type="button")#changeTerminal.btn.btn-primary 确认修改
    
block scripts
    script(language="javascript", src="#{myPath}/javascripts/03/03040602.js#{randomJsVersion}")
    script
        var male = '#{person.NBPT_SP_PERSON_MALE}';
        var job = '#{person.NBPT_SP_PERSON_JOB}';
        $("input:radio[name='NBPT_SP_PERSON_MALE'][value='" + male + "']").attr("checked",true);
        $("input:radio[name='NBPT_SP_PERSON_JOB'][value='" + job + "']").attr("checked",true);
        $("select[name='NBPT_SP_PERSON_POLICYTYPE']").val('#{person.NBPT_SP_PERSON_POLICYTYPE}');
    
block pageId
    p(style="display:none") 03040602
    