
// 人员管理,查看当前人员信息(地总)
extends ./layouts/0304

block buttons
    .form-group
        button(type="button").btn.btn-default#addTerminal 添加下级人员
        |&nbsp&nbsp
block contents
    if message
        .col-xs-12.col-sm-12
            h3= message
    else 
        .col-xs-12.col-sm-12
            form#changePersonForm
                input(type='hidden', name='changePersonPid')#changePersonPid
                input(type='hidden', name='changePersonType')#changePersonType
            .form-horizontal
                .form-group
                    label.col-xs-1.col-sm-1.control-label 公司配额
                    .col-xs-4.col-sm-4
                        input.form-control(value='#{thisNeed}', readOnly)
                .form-group
                    label.col-xs-1.col-sm-1.control-label 当前人员
                    .col-xs-4.col-sm-4
                        input.form-control(value='#{thisInfact}', readOnly)
        unless personInfos.length
            .col-xs-12.col-sm-12.placeholder
                .panel.panel-default
                    .panel-heading 名单列表
                    table.table.table-hover
                        tr 
                            th(style="text-align:center") #
                            th(style="text-align:center") 姓名
                            th(style="text-align:center") 性别
                            th(style="text-align:center") 职务
                            th(style="text-align:center") 文化程度
                            th(style="text-align:center") 入职日期
                            th(style="text-align:center") 工龄
                            th(style="text-align:center") 籍贯
                            th(style="text-align:center") 联系电话
                            th(style="text-align:center") 紧急联系人
                            th(style="text-align:center") 年龄
                            th(style="text-align:center") 当前状态
                        each person,i in personInJobInfos
                            tr(style="text-align:center;")
                                th(style="text-align:center",scope="row")= i+1
                                td(style="vertical-align:middle").col-xs-1.col-sm-1
                                    button.btn.btn-link.changePerson.btn-xs(value='#{person.NBPT_SP_PERSON_PID}', align="left")
                                        #{person.NBPT_SP_PERSON_NAME}
                                td(style="vertical-align:middle")= person.NBPT_SP_PERSON_REAL_MALE
                                td(style="vertical-align:middle")= person.NBPT_SP_PERSON_REALJOB
                                td(style="vertical-align:middle")= person.NBPT_SP_PERSON_DEGREE
                                td(style="vertical-align:middle")= person.NBPT_SP_PERSON_ENTRYDATA
                                td(style="vertical-align:middle") #{person.NBPT_SP_PERSON_WORKAGE}年
                                td(style="vertical-align:middle")= person.NBPT_SP_PERSON_PLACE
                                td(style="vertical-align:middle")= person.NBPT_SP_PERSON_MOB1
                                td(style="vertical-align:middle")= person.NBPT_SP_PERSON_MOB2
                                td(style="vertical-align:middle")= person.NBPT_SP_PERSON_AGE
                                td(style="vertical-align:middle")= person.NBPT_SP_PERSON_STATUS
                        each person,i in personDimissionInfos
                            tr(style="text-align:center;")
                                th(style="text-align:center",scope="row")= i+1
                                td(style="vertical-align:middle").col-xs-1.col-sm-1= person.NBPT_SP_PERSON_NAME
                                td(style="vertical-align:middle")= person.NBPT_SP_PERSON_REAL_MALE
                                td(style="vertical-align:middle")= person.NBPT_SP_PERSON_REALJOB
                                td(style="vertical-align:middle")= person.NBPT_SP_PERSON_DEGREE
                                td(style="vertical-align:middle")= person.NBPT_SP_PERSON_ENTRYDATA
                                td(style="vertical-align:middle") #{person.NBPT_SP_PERSON_WORKAGE}年
                                td(style="vertical-align:middle")= person.NBPT_SP_PERSON_PLACE
                                td(style="vertical-align:middle")= person.NBPT_SP_PERSON_MOB1
                                td(style="vertical-align:middle")= person.NBPT_SP_PERSON_MOB2
                                td(style="vertical-align:middle")= person.NBPT_SP_PERSON_AGE
                                td(style="vertical-align:middle")= person.NBPT_SP_PERSON_STATUS
                        each person,i in unCheckedPersonInfos
                            tr(style="text-align:center;")
                                th(style="text-align:center",scope="row")= i+1
                                td(style="vertical-align:middle").col-xs-1.col-sm-1= person.NBPT_SP_PERSON_NAME
                                td(style="vertical-align:middle")= person.NBPT_SP_PERSON_REAL_MALE
                                td(style="vertical-align:middle")= person.NBPT_SP_PERSON_REALJOB
                                td(style="vertical-align:middle")= person.NBPT_SP_PERSON_DEGREE
                                td(style="vertical-align:middle")= person.NBPT_SP_PERSON_ENTRYDATA
                                td(style="vertical-align:middle") #{person.NBPT_SP_PERSON_WORKAGE}年
                                td(style="vertical-align:middle")= person.NBPT_SP_PERSON_PLACE
                                td(style="vertical-align:middle")= person.NBPT_SP_PERSON_MOB1
                                td(style="vertical-align:middle")= person.NBPT_SP_PERSON_MOB2
                                td(style="vertical-align:middle")= person.NBPT_SP_PERSON_AGE
                                td(style="vertical-align:middle")= person.NBPT_SP_PERSON_STATUS
                        each person,i in personRejectInfos
                            tr(style="text-align:center;")
                                th(style="text-align:center",scope="row")= i+1
                                td(style="vertical-align:middle")
                                    button.btn.btn-link.changeRejectPerson.btn-xs(value='#{person.NBPT_SP_PERSON_PID}', align="left")
                                        #{person.NBPT_SP_PERSON_NAME}
                                td(style="vertical-align:middle")= person.NBPT_SP_PERSON_REAL_MALE
                                td(style="vertical-align:middle")= person.NBPT_SP_PERSON_REALJOB
                                td(style="vertical-align:middle")= person.NBPT_SP_PERSON_DEGREE
                                td(style="vertical-align:middle")= person.NBPT_SP_PERSON_ENTRYDATA
                                td(style="vertical-align:middle") #{person.NBPT_SP_PERSON_WORKAGE}年
                                td(style="vertical-align:middle")= person.NBPT_SP_PERSON_PLACE
                                td(style="vertical-align:middle")= person.NBPT_SP_PERSON_MOB1
                                td(style="vertical-align:middle")= person.NBPT_SP_PERSON_MOB2
                                td(style="vertical-align:middle")= person.NBPT_SP_PERSON_AGE
                                td(style="vertical-align:middle")= person.NBPT_SP_PERSON_STATUS
                                
        
block scripts
    script(language="javascript", src="#{myPath}/javascripts/03/03040201.js#{randomJsVersion}")
        
block pageId
    p(style="display:none") 03040201