
// 人员管理,查看当前人员信息(后勤,总经理)
extends ./layouts/0304

block buttons
    .form-group
        button(type="button").btn.btn-default#supportAdd 添加大区总地总
        |&nbsp&nbsp
block contents
    .row.placeholders
        .col-xs-10.col-sm-10.placeholder
            .panel.panel-default
                .panel-heading 合计列表
                    button.btn.btn-link.checkOut(value='hejixinxi') 导出
                table.table-striped#hejixinxi
                    tr
                        th(style="text-align:center").col-xs-1.col-sm-1 #
                        th(style="text-align:center").col-xs-1.col-sm-1 大区总
                        th(style="text-align:center;border-right-style:solid ; border-width: 1px").col-xs-1.col-sm-1 地总
                        th(style="text-align:center").col-xs-1.col-sm-1 区县总
                        th(style="text-align:center").col-xs-1.col-sm-1 预备区县总
                        th(style="text-align:center").col-xs-1.col-sm-1 推广经理
                        th(style="text-align:center").col-xs-1.col-sm-1 合计
                        th(style="text-align:center").col-xs-1.col-sm-1 应配
                        th(style="text-align:center").col-xs-1.col-sm-1 差额
                    unless personInfos.length
                        each info,i in totalInfos
                            tr(style="text-align:center") 
                                td= info.name
                                td= info.regionResper
                                td(style="border-right-style:solid ; border-width: 1px")= info.areaResper
                                td= info.xzquResper
                                td= info.xzquResper_preparatory
                                td= info.promote
                                td= info.total
                                td= info.need
                                td= info.balance
        .col-xs-10.col-sm-10.placeholder
            .panel.panel-default
                .panel-heading OTC统计信息 
                    button.btn.btn-link.checkOut(value='OTCinfo') 导出
                table.table.table-hover#OTCinfo
                    tr 
                        th(style="text-align:center") #
                        th(style="text-align:center") 大区总
                        th(style="text-align:center; border-right-style:solid ; border-width: 1px") 地总
                        th(style="text-align:center") 正式区县总
                        th(style="text-align:center") 预备区县总
                        th(style="text-align:center") 推广经理
                        th(style="text-align:center") 合计
                        th(style="text-align:center") 应配
                        th(style="text-align:center") 差额
                        th(style="text-align:center") 离职合计
                        th(style="text-align:center") 离职率
                        
                    unless personInfos.length
                        each info,i in OTCInfos
                            tr(style="text-align:center;") 
                                td(style="vertical-align:middle")
                                    a.btn.btn-link.btn-xs(href='#{myPath}/sellPersonnel/provincePersons?regionUid=#{info.uid}')
                                        #{info.name}
                                td(style="vertical-align:middle").OTC_regionResper= info.regionResper
                                td(style="border-right-style:solid ; border-width: 1px;vertical-align:middle").OTC_areaResper= info.areaResper
                                td(style="vertical-align:middle").OTC_xzquResper= info.xzquResper
                                td(style="vertical-align:middle").OTC_xzquResper_preparatory= info.xzquResper_preparatory
                                td(style="vertical-align:middle").OTC_promote= info.promote
                                td(style="vertical-align:middle").OTC_heji= info.total
                                td(style="vertical-align:middle").OTC_need= info.need
                                td(style="vertical-align:middle")= info.balance
                                td(style="vertical-align:middle").OTC_dismission= info.dismission
                                td(style="vertical-align:middle")= info.dismissionRate
                    tr
                        th(style="text-align:center") 合计
                        th(style="text-align:center").OTC_regionResper_total
                        th(style="text-align:center; border-right-style:solid ; border-width: 1px").OTC_areaResper_total
                        th(style="text-align:center").OTC_xzquResper_total
                        th(style="text-align:center").OTC_xzquResper_preparatory_total
                        th(style="text-align:center").OTC_promote_total
                        th(style="text-align:center").OTC_heji_total
                        th(style="text-align:center").OTC_need_total
                        th(style="text-align:center")
                        th(style="text-align:center").OTC_dismission_total
                        th(style="text-align:center")
block scripts
    script(language="javascript", src="#{myPath}/javascripts/03/03040202.js")
        
block pageId
    p(style="display:none") 03040202
