
// 人员管理,查看当前人员信息(后勤,总经理)
extends ./layouts/0304

block buttons
    .form-group
        button(type="button").btn.btn-default#supportAdd 添加大区总地总
        |&nbsp&nbsp
block contents
    .row.placeholders
        .col-xs-9.col-sm-9.placeholder
            .panel.panel-default
                .panel-heading 合计列表
                    button.btn.btn-link.checkOut(value='hejixinxi') 导出
                table.table-striped#hejixinxi
                    tr
                        th.col-xs-1.col-sm-1 #
                        th.col-xs-1.col-sm-1 大区总
                        th.col-xs-1.col-sm-1 地总
                        th.col-xs-1.col-sm-1 区县总
                        th.col-xs-1.col-sm-1 预备区县总
                        th.col-xs-1.col-sm-1 推广经理
                        th.col-xs-1.col-sm-1 合计
                        th.col-xs-1.col-sm-1 应配
                        th.col-xs-1.col-sm-1 差额
                    unless personInfos.length
                        each info,i in totalInfos
                            tr(style="align:center") 
                                td.col-xs-1.col-sm-1= info.name
                                td.col-xs-1.col-sm-1= info.regionResper
                                td.col-xs-1.col-sm-1= info.areaResper
                                td.col-xs-1.col-sm-1= info.xzquResper
                                td.col-xs-1.col-sm-1= info.xzquResper_preparatory
                                td.col-xs-1.col-sm-1= info.promote
                                td.col-xs-1.col-sm-1= info.total
                                td.col-xs-1.col-sm-1= info.need
                                td.col-xs-1.col-sm-1= info.balance
        .col-xs-9.col-sm-9.placeholder
            .panel.panel-default
                .panel-heading OTC统计信息 
                    button.btn.btn-link.checkOut(value='OTCinfo') 导出
                table.table.table-hover#OTCinfo
                    tr
                        th.col-xs-1.col-sm-1 #
                        th.col-xs-1.col-sm-1 大区总
                        th.col-xs-1.col-sm-1 地总
                        th.col-xs-1.col-sm-1 区县总
                        th.col-xs-1.col-sm-1 预备区县总
                        th.col-xs-1.col-sm-1 推广经理
                        th.col-xs-1.col-sm-1 终端合计
                        th.col-xs-1.col-sm-1 终端应配
                        th.col-xs-1.col-sm-1 终端差额
                    unless personInfos.length
                        each info,i in OTCInfos
                            tr(style="align:center") 
                                td.col-xs-1.col-sm-1= info.name
                                td.col-xs-1.col-sm-1.OTC_regionResper= info.regionResper
                                td.col-xs-1.col-sm-1.OTC_areaResper= info.areaResper
                                td.col-xs-1.col-sm-1.OTC_xzquResper= info.xzquResper
                                td.col-xs-1.col-sm-1.OTC_xzquResper_preparatory= info.xzquResper_preparatory
                                td.col-xs-1.col-sm-1.OTC_promote= info.promote
                                td.col-xs-1.col-sm-1.OTC_heji= info.total
                                td.col-xs-1.col-sm-1.OTC_need= info.need
                                td.col-xs-1.col-sm-1= info.balance
                    tr(style="align:center") 
                        th.col-xs-1.col-sm-1 合计
                        th.col-xs-1.col-sm-1.OTC_regionResper_total
                        th.col-xs-1.col-sm-1.OTC_areaResper_total
                        th.col-xs-1.col-sm-1.OTC_xzquResper_total
                        th.col-xs-1.col-sm-1.OTC_xzquResper_preparatory_total
                        th.col-xs-1.col-sm-1.OTC_promote_total
                        th.col-xs-1.col-sm-1.OTC_heji_total
                        th.col-xs-1.col-sm-1.OTC_need_total
                        th.col-xs-1.col-sm-1
block scripts
    script(language="javascript", src="#{myPath}/javascripts/03/0304.js")
    script(language="javascript", src="#{myPath}/javascripts/03/03040202.js")
        
block pageId
    p(style="display:none") 03040202
