
// 终端管理:添加终端人员(地总)
extends ./layouts/0304
    
block buttons
    .form-group
        button(type="button").btn.btn-default#addTerminal 添加下级人员
        |&nbsp&nbsp

block contents
    if message
        .col-xs-12.col-sm-12
            h3= message
    else
        .col-xs-12.col-sm-12
            form.form-horizontal#addPersonForm
                input(type="hidden", name="NBPT_SP_PERSON_AREANO")
                input(type="hidden", name="NBPT_SP_PERSON_PID", value='#{person.NBPT_SP_PERSON_PID}')#NBPT_SP_PERSON_PID
                input(type="hidden", name="NBPT_SP_PERSON_ID", value='#{person.NBPT_SP_PERSON_ID}')#NBPT_SP_PERSON_ID
                .form-group
                    label.col-xs-1.col-sm-1.control-label 
                        font(color="red") *
                        |&nbsp&nbsp&nbsp&nbsp姓名
                    .col-xs-4.col-sm-2
                        input.form-control(placeholder="例:张三", name="NBPT_SP_PERSON_NAME", value='#{person.NBPT_SP_PERSON_NAME}', maxlength="16")
                .form-group
                    label.col-xs-1.col-sm-1.control-label 
                        font(color="red") *
                        |&nbsp&nbsp&nbsp&nbsp职务
                    .col-xs-4.col-sm-4
                        label.radio-inline
                            input(type="radio",name="NBPT_SP_PERSON_JOB",value="23") 
                            |区县总
                        label.radio-inline
                            input(type="radio",name="NBPT_SP_PERSON_JOB",value="24") 
                            |预备区县总
                        label.radio-inline
                            input(type="radio",name="NBPT_SP_PERSON_JOB",value="25") 
                            |推广经理
                .form-group
                    label.col-xs-1.col-sm-1.control-label
                        font(color="red") *
                        |&nbsp&nbsp身份证号码
                    .col-xs-4.col-sm-4
                        input.form-control(name="NBPT_SP_PERSON_IDNUM", value='#{person.NBPT_SP_PERSON_IDNUM}', maxlength="18")
                    .col-xs-2.col-sm-2.errorMessage
                .form-group
                    label.col-xs-1.col-sm-1.control-label 
                        font(color="red") *
                        |&nbsp&nbsp&nbsp&nbsp籍贯
                    .col-xs-4.col-sm-4
                        input.form-control(name="NBPT_SP_PERSON_PLACE",placeholder="例:信阳", value='#{person.NBPT_SP_PERSON_PLACE}', maxlength="10")
                .form-group
                    label.col-xs-1.col-sm-1.control-label 
                        font(color="red") *
                        |&nbsp&nbsp&nbsp&nbsp性别
                    .col-xs-4.col-sm-4
                        label.radio-inline
                            input(type="radio",name="NBPT_SP_PERSON_MALE",value="1") 
                            |男
                        label.radio-inline
                            input(type="radio",name="NBPT_SP_PERSON_MALE",value="0") 
                            |女
                .form-group.reponseAreas
                    label.col-xs-1.col-sm-1.control-label 
                        font(color="red") *
                        |&nbsp&nbsp&nbsp&nbsp负责区县
                    .col-xs-2.col-sm-2
                        select.form-control(name='NBPT_COMMON_XZQXHF_NAME')
                            each item in controllAreas
                                option(value="#{item.NBPT_COMMON_XZQXHF_ID}")= item.NBPT_COMMON_XZQXHF_NAME
                    .col-xs-1.col-sm-1
                        button.btn.btn-default(type="button").extraBtn
                            span.glyphicon.glyphicon-plus(aria-hidden="true")
                .form-group
                    label.col-xs-1.col-sm-1.control-label 
                        font(color="red") *
                        |&nbsp&nbsp&nbsp&nbsp个人手机
                    .col-xs-4.col-sm-4
                        input.form-control(name="NBPT_SP_PERSON_MOB1",placeholder="例:18518596989", value='#{person.NBPT_SP_PERSON_MOB1}', maxlength="11", minlength='11')
                .form-group
                    label.col-xs-1.col-sm-1.control-label 
                        font(color="red") *
                        |&nbsp&nbsp紧急联络人
                    .col-xs-4.col-sm-4
                        input.form-control(name="NBPT_SP_PERSON_MOB2",placeholder="例:18518596989", value='#{person.NBPT_SP_PERSON_MOB2}', maxlength="11")
                .form-group
                    label.col-xs-1.col-sm-1.control-label 
                        font(color="red") *
                        |&nbsp&nbsp&nbsp&nbsp入职时间
                    .col-xs-4.col-sm-4
                        input.form-control(placeholder='例:2018-03-03', type='date', name="NBPT_SP_PERSON_ENTRYDATA", required='true', value='#{person.NBPT_SP_PERSON_ENTRYDATA}')
                .form-group
                    label.col-xs-1.col-sm-1.control-label 
                        font(color="red") *
                        |&nbsp&nbsp&nbsp&nbsp学历
                    .col-xs-4.col-sm-4
                        select(name="NBPT_SP_PERSON_DEGREE", value='#{person.NBPT_SP_PERSON_DEGREE}').form-control
                            option(value='小学') 小学
                            option(value='初中') 初中
                            option(value='高中') 高中
                            option(value='中专') 中专
                            option(value='大专') 大专
                            option(value='本科') 本科
                            option(value='研究生') 研究生
                .form-group
                    label.col-xs-1.col-sm-1.control-label 
                        font(color="red") *
                        |&nbsp&nbsp&nbsp&nbsp保单编号
                    .col-xs-2.col-sm-2
                        select.form-control(name="NBPT_SP_PERSON_POLICYTYPE")#policytypeSelect
                            each item in policytypeSelects
                                option(value="#{item.NBPT_COMMON_DICTIONARY_KEY_VALUE}") #{item.NBPT_COMMON_DICTIONARY_KEY_NAME}
                    .col-xs-2.col-sm-2
                        input.form-control(name="NBPT_SP_PERSON_POLICYNO",placeholder="例:NAN17AA06126A2", value='#{person.NBPT_SP_PERSON_POLICYNO}', maxlength="50")
                .form-group
                    label.col-xs-1.col-sm-1.control-label 
                        font(color="red") *
                        |&nbsp&nbsp&nbsp&nbsp保单起始
                    .col-xs-4.col-sm-4
                        input.form-control(placeholder='例:2018-03-03', type='date', name="NBPT_SP_PERSON_POLICY_DATA1", value='#{person.NBPT_SP_PERSON_POLICY_DATA1}')
                .form-group
                    label.col-xs-1.col-sm-1.control-label 
                        font(color="red") *
                        |&nbsp&nbsp&nbsp&nbsp保单结束
                    .col-xs-4.col-sm-4
                        input.form-control(placeholder='例:2018-03-03', type='date', name="NBPT_SP_PERSON_POLICY_DATA2", value='#{person.NBPT_SP_PERSON_POLICY_DATA2}')
                .form-group
                    label.col-xs-1.col-sm-1.control-label 
                        font(color="red") *
                        |&nbsp&nbsp&nbsp&nbspQQ
                    .col-xs-4.col-sm-4
                        input.form-control(name="NBPT_SP_PERSON_QQ", value='#{person.NBPT_SP_PERSON_QQ}', maxlength="20")
                .form-group
                    label.col-xs-1.col-sm-1.control-label 
                        font(color="red") *
                        |&nbsp&nbsp&nbsp&nbsp微信
                    .col-xs-4.col-sm-4
                        input.form-control(name="NBPT_SP_PERSON_CHAT", value='#{person.NBPT_SP_PERSON_CHAT}', maxlength="20")
                .form-group
                    label.col-xs-1.col-sm-1.control-label 
                        font(color="red") *
                        |&nbsp&nbsp&nbsp&nbsp邮箱
                    .col-xs-4.col-sm-4
                        input.form-control(name="NBPT_SP_PERSON_MAIL", value='#{person.NBPT_SP_PERSON_MAIL}', maxlength="50")
                .form-group
                    label.col-xs-1.col-sm-1.control-label 
                        font(color="red") *
                        |&nbsp&nbsp&nbsp&nbsp毕业学校
                    .col-xs-4.col-sm-4
                        input.form-control(name="NBPT_SP_PERSON_SCHOOL", value='#{person.NBPT_SP_PERSON_SCHOOL}')
                .form-group
                    label.col-xs-1.col-sm-1.control-label 
                        font(color="red") *
                        |&nbsp&nbsp&nbsp&nbsp专业
                    .col-xs-4.col-sm-4
                        input.form-control(name="NBPT_SP_PERSON_PROFESS", value='#{person.NBPT_SP_PERSON_PROFESS}')
                .form-group
                    label.col-xs-1.col-sm-1.control-label 
                        font(color="red") *
                        |&nbsp&nbsp&nbsp&nbsp职称
                    .col-xs-4.col-sm-4
                        input.form-control(name="NBPT_SP_PERSON_TITLE", value='#{person.NBPT_SP_PERSON_TITLE}')
                .form-group
                    label.col-xs-1.col-sm-1.control-label 
                        font(color="red") *
                        |&nbsp&nbsp&nbsp&nbsp备注
                    .col-xs-4.col-sm-4
                        textarea.form-control(type='textarea', rows='3', name="NBPT_SP_PERSON_NOTE", value='#{person.NBPT_SP_PERSON_NOTE}', maxlength="100")
                .form-group
                    .col-xs-offset-1.col-sm-offset-1.col-xs-4.col-sm-4
                        button(type="button")#addPerson.btn.btn-primary 提交
    
block scripts
    script(language="javascript", src="#{myPath}/javascripts/03/03040301.js")
    script
        var male = '#{person.NBPT_SP_PERSON_MALE}';
        var job = '#{person.NBPT_SP_PERSON_JOB}';
        $("input:radio[name='NBPT_SP_PERSON_MALE'][value='" + male + "']").attr("checked",true);
        $("input:radio[name='NBPT_SP_PERSON_JOB'][value='" + job + "']").attr("checked",true)
        $("select[name='NBPT_SP_PERSON_DEGREE']").val('#{person.NBPT_SP_PERSON_DEGREE}');
        $("select[name='NBPT_SP_PERSON_POLICYTYPE']").val('#{person.NBPT_SP_PERSON_POLICYTYPE}');
    
block pageId
    p(style="display:none") 03040301
    