
// 人员管理,查看当前人员信息(地总)
extends ./layouts/0304

block buttons
    .form-group
        button(type="button").btn.btn-default#supportAdd 添加大区总地总
        |&nbsp&nbsp
        
block contents
    if message
        .row.placeholders
            .col-xs-12.col-sm-12.placeholder
                h3= message
    else 
        .row.placeholders
            .col-xs-11.col-sm-11.placeholder
                form#changePersonForm
                    input(type='hidden', name='changePersonPid')#changePersonPid
                .form-horizontal
                    .form-group
                        label.col-xs-1.col-sm-1.control-label 公司配额
                        .col-xs-4.col-sm-4
                            input.form-control(value='#{thisNeed}', readOnly)
                        label.col-xs-1.col-sm-1.control-label 当前人员
                        .col-xs-4.col-sm-4
                            input.form-control(value='#{thisInfact}', readOnly)
                    .form-group
                        label.col-xs-1.col-sm-1.control-label 负责人
                        .col-xs-4.col-sm-4
                            input.form-control(value='#{thisResper}', readOnly)
                        label.col-xs-1.col-sm-1.control-label 地区
                        .col-xs-4.col-sm-4
                            input.form-control(value='#{thisArea}', readOnly)
            unless personInfos.length
                .col-xs-10.col-sm-10.placeholder
                    .panel.panel-default
                        .panel-heading 名单列表
                            a.btn.btn-link(href = '#{baseUrl}/sellPersonnel/provincePersons?regionUid=#{regionUid}') 后退
                            button.btn.btn-link.downLoadCheckOut(value='renyuanxinxi') 导出
                        table.table#renyuanxinxi
                            tr
                                th(style="text-align:center") #
                                th(style="text-align:center") 姓名
                                th(style="text-align:center") 性别
                                th(style="text-align:center") 职务
                                th(style="text-align:center") 文化程度
                                th(style="text-align:center") 入职日期
                                th(style="text-align:center") 工龄
                                th(style="text-align:center") 籍贯
                                th(style="text-align:center") 联系电话
                                th(style="text-align:center") 紧急联系人
                                th(style="text-align:center") 年龄
                                th(style="text-align:center") 当前状态
                            each person,i in personInfos
                                tr(style="text-align:center;")  
                                    th(style="vertical-align:middle",scope="row")= i+1
                                    td(style="vertical-align:middle").col-xs-1.col-sm-1
                                        a.btn.btn-link.btn-xs.OTC_regionResper(href='#{myPath}/sellPersonnel/receivePerson?areaUid=#{areaUid}&regionUid=#{regionUid}&personPid=#{person.NBPT_SP_PERSON_PID}')
                                            #{person.NBPT_SP_PERSON_NAME}
                                    td(style="vertical-align:middle")= person.NBPT_SP_PERSON_MALE
                                    td(style="vertical-align:middle")
                                        case person.NBPT_SP_PERSON_JOB
                                            when '21': 大区总
                                            when '22': 地总
                                            when '23': 正式区县总
                                            when '24': 预备区县总
                                            when '25': 推广经理
                                            when '26': 大区总兼地总
                                    td(style="vertical-align:middle")= person.NBPT_SP_PERSON_DEGREE
                                    td(style="vertical-align:middle")= person.NBPT_SP_PERSON_ENTRYDATA
                                    td(style="vertical-align:middle") #{person.NBPT_SP_PERSON_WORKAGE}年
                                    td(style="vertical-align:middle")= person.NBPT_SP_PERSON_PLACE
                                    td(style="vertical-align:middle")= person.NBPT_SP_PERSON_MOB1
                                    td(style="vertical-align:middle")= person.NBPT_SP_PERSON_MOB2
                                    td(style="vertical-align:middle")= person.NBPT_SP_PERSON_AGE
                                    td(style="vertical-align:middle")
                                        case person.NBPT_SP_PERSON_FLAG
                                            when '2': 在职
                                            when '0': 等待信息专员审核
                                            when '1': 等待大区总审核
                                            when '3': 离职
                                
        
block scripts
    script(language="javascript", src="#{myPath}/javascripts/03/03040502.js")
        
block pageId
    p(style="display:none") 03040502