doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title 羚锐集团内部平台
        link(rel='stylesheet', href='#{myPath}/stylesheets/css/bootstrap.min.css#{randomJsVersion}')
        link(rel='stylesheet', href='#{myPath}/stylesheets/layout.css#{randomJsVersion}')
        block layoutHeader
        block treeHeader
            link(rel='stylesheet', href='#{myPath}/stylesheets/css/zTreeStyle.css#{randomJsVersion}')
        block header
    body
        script
            var baseUrl = '#{myPath}';
                
        block head
            nav.navbar.navbar-fixed-top.navbar-inverse
                .container-fluid
                    .navbar-header
                        button.navbar-toggle.collapsed
                        .navbar-brand 羚锐集团内部平台
                        ul.nav.navbar-nav
                            if rights.modulesRight
                                each item in rights.modulesRight
                                    case item
                                        when "01": li: a(href="#{myPath}/module?module=01"): span 个人信息
                                        when "02": li: a(href="#{myPath}/module?module=02"): span 集团人事
                                        when "03": li: a(href="#{myPath}/module?module=03"): span 销售人事
                                        when "04": li: a(href="#{myPath}/module?module=03"): span 销售核销
                                        when "05": li: a(href="#{myPath}/module?module=05"): span 销售战绩
                    .navbar-collapse.collapse
                        ul.nav.navbar-nav.navbar-right
                            li: a 你好，#{niko}
                            li: a(href="#{myPath}/logout") 退出
        block body
            .container-fluid
                .row-fluid
                    .col-sm-1.col-md-1.sidebar
                        block sidebar
                    .col-sm-11.col-sm-offset-1.col-md-11.col-md-offset-1.main
                        block main
        block layoutModal
            include includes/waitModal
        block modal
        script(src="#{myPath}/javascripts/jquery.min.js#{randomJsVersion}")
        script(src="#{myPath}/javascripts/bootstrap.min.js#{randomJsVersion}")
        script(language="javascript", src="#{myPath}/javascripts/jquery.table2excel.min.js#{randomJsVersion}")
        script(language="javascript", src="#{myPath}/javascripts/bootstrap-datetimepicker.min.js#{randomJsVersion}")
        script(language="javascript", src="#{myPath}/javascripts/jquery.ztree.core.min.js#{randomJsVersion}")
        block parentLayoutScripts
        script(language="javascript", src="#{myPath}/javascripts/common.js#{randomJsVersion}")
        block layoutScripts
        block scripts
        block pageId
            p(style="display:none") layout