extends ./layout

block sidebar
    ul.nav.nav-sidebar
        if rights.functionsRight
            each item in rights.functionsRight
                case item
                    when "0301": li: a(href="#{myPath}/module?module=0301"): span 首页
                    when "0302": li: a(href="#{myPath}/module?module=0302"): span 部门管理
                    when "0303": li: a(href="#{myPath}/module?module=0303"): span 审核管理
                    when "0304": li: a(href="#{myPath}/module?module=0304"): span 人员统计
                    when "0305": li: a(href="#{myPath}/module?module=0305"): span 人员管理
                    when "0308": li: a(href="#{myPath}/sellPersonnel/khMana"): span 客户管理
                    when "0306": li: a(href="#{myPath}/module?module=0306"): span 信息专员
                    when "0307": li: a(href="#{myPath}/module?module=0307"): span 考核考勤
                    