extends ./layout

block sidebar
    ul.nav.nav-sidebar
        if rights.functionsRight
            each item in rights.functionsRight
                case item
                    when "0501": li: a(href="#{myPath}/module?module=0501"): span 首页
                    when "0502": li: a(href="#{myPath}/module?module=0502"): span 个人排名
                    when "0503": li: a(href="#{myPath}/module?module=0503"): span 所有排名
                    when "0504": li: a(href="#{myPath}/module?module=0504"): span 排名查询
                    when "0505": li: a(href="#{myPath}/module?module=0505"): span 同区查询
                    when "0506": li: a(href="#{myPath}/module?module=0506"): span 红黑榜